
h4 ,h5{
  margin-bottom: 5px;
  padding-left: 15px;

}
.btns{
  display: flex;
 justify-content: space-between;
  flex-direction: row;
}
.btns .btn1{
  cursor: pointer;
  margin: 20px;
  color: #007bff;
 text-decoration: underline;
}
.btns .btn2{
  cursor: pointer;
  color: red;
 text-decoration: underline;
}
  
  
.header__right__auth__link {
  color: black;
  text-decoration: none;

  font-weight: 600;
  font-size: 22px;;
  padding-left: 15px;
}
  
.header__right__auth__link:hover {
  color: #555;
}


.mar{
  margin: 20px auto;
}
